body {
    font-family: Arial, sans-serif;
    background-color: #050516;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #333;
}

.products {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para el carrito */
.cart {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.cart .total {
    margin-top: 20px;
    font-weight: bold;
}

#clear-cart {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#clear-cart:hover {
    background-color: #d32f2f;
}

.product img {
    max-width: 100%; 
    height: auto; 
    border-radius: 5px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}


